/JogoDaVelha/nbproject/private/
/JogoDaVelha/build/
/JavaFXApplication1/nbproject/private/
/ExercicioPessoaLivro/nbproject/private/
/ConversorCPF/nbproject/private/
/Calculadora/nbproject/private/
/Banco/nbproject/private/
/Calculadora/build/
/Calculadora/dist/
/ExercicioMoto/nbproject/private/
/ExercicioMoto/build/
/ProjetoFinalCursoEmVideo/nbproject/private/
/ProjetoFinalCursoEmVideo/build/
/JogoCobrinha/nbproject/private/
/JogoCobrinha/build/
/ExerciciosProgrammr/nbproject/private/
/ExerciciosProgrammr/build/
/ExerciciosDIO/nbproject/private/
/ExerciciosDIO/build/
/ExerciciosAleatorios/nbproject/private/
/ExerciciosAleatorios/build/
/ConversorCPF/build/
jsp-servlet-jdbc-mysql-crud-tutorial/
/projetoConcessionaria/target/
/projetoConcessionariaWeb/target/
/mavenproject1/target/
/mavenproject2/target/
/ExerciciosServlet/target/
/ExerciciosLambda/target/
/AgendaWeb/target/
/SistemaServicos/target/
/jogo/target/
/concessionaria/target/
/dealernet/target/
/teste/target/
/concessionariaWeb/target/
/docsArmenio/target/
