/JogoDaVelha/nbproject/private/
/JogoDaVelha/build/
/JavaFXApplication1/nbproject/private/
/ExercicioPessoaLivro/nbproject/private/
/ConversorCPF/nbproject/private/
/Calculadora/nbproject/private/
/Banco/nbproject/private/
/Calculadora/build/
/Calculadora/dist/
/ExercicioMoto/nbproject/private/
/ExercicioMoto/build/
/ProjetoFinalCursoEmVideo/nbproject/private/
/ProjetoFinalCursoEmVideo/build/
/JogoCobrinha/nbproject/private/
/JogoCobrinha/build/
/ExerciciosProgrammr/nbproject/private/
/ExerciciosProgrammr/build/
