<!doctype html>
<html xmlns:th="https://www.thymeleaf.org">
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Cadastro de médicos</title>
</head>
<body>
<form action="#" th:action="@{/Doctor/addDoctor}" th:object="${doctor}" method="post">
    <p>Name<input type="text" name="name" th:field="*{name}"/></p>
    <p>CPF<input type="text" name="cpf" th:field="*{cpf}"/></p>
    <p>CRM<input type="text" name="crm" th:field="*{crm}"/></p>
    <input type="submit" value="Cadastrar" onclick="myFunction()">
</form>
<script>
function myFunction() {
location.replace("http://127.0.0.1:8080/Doctor")
}
</script>

<a href="">Voltar</a>

</body>
</html>